# SDRAM connections
BLOCK ASYNCPATHS;
BLOCK RESETPATHS;
LOCATE COMP "io_sdram_CLK" SITE "R15";
IOBUF PORT "io_sdram_CLK" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_CKE" SITE "L16";
IOBUF PORT "io_sdram_CKE" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_CSn" SITE "A14";
IOBUF PORT "io_sdram_CSn" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_WEn" SITE "A15";
IOBUF PORT "io_sdram_WEn" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_RASn" SITE "B16";
IOBUF PORT "io_sdram_RASn" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_CASn" SITE "G16";
IOBUF PORT "io_sdram_CASn" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_BA[0]" SITE "G15";
IOBUF PORT "io_sdram_BA[0]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_BA[1]" SITE "B14";
IOBUF PORT "io_sdram_BA[1]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[0]" SITE "H15";
IOBUF PORT "io_sdram_ADDR[0]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[1]" SITE "B13";
IOBUF PORT "io_sdram_ADDR[1]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[2]" SITE "B12";
IOBUF PORT "io_sdram_ADDR[2]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[3]" SITE "J16";
IOBUF PORT "io_sdram_ADDR[3]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[4]" SITE "J15";
IOBUF PORT "io_sdram_ADDR[4]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[5]" SITE "R12";
IOBUF PORT "io_sdram_ADDR[5]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[6]" SITE "K16";
IOBUF PORT "io_sdram_ADDR[6]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[7]" SITE "R13";
IOBUF PORT "io_sdram_ADDR[7]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[8]" SITE "T13";
IOBUF PORT "io_sdram_ADDR[8]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[9]" SITE "K15";
IOBUF PORT "io_sdram_ADDR[9]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[10]" SITE "A13";
IOBUF PORT "io_sdram_ADDR[10]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[11]" SITE "R14";
IOBUF PORT "io_sdram_ADDR[11]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_ADDR[12]" SITE "T14";
IOBUF PORT "io_sdram_ADDR[12]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[0]" SITE "F16";
IOBUF PORT "io_sdram_DQ[0]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[1]" SITE "E15";
IOBUF PORT "io_sdram_DQ[1]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[2]" SITE "F15";
IOBUF PORT "io_sdram_DQ[2]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[3]" SITE "D14";
IOBUF PORT "io_sdram_DQ[3]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[4]" SITE "E16";
IOBUF PORT "io_sdram_DQ[4]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[5]" SITE "C15";
IOBUF PORT "io_sdram_DQ[5]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[6]" SITE "D16";
IOBUF PORT "io_sdram_DQ[6]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[7]" SITE "B15";
IOBUF PORT "io_sdram_DQ[7]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[8]" SITE "R16";
IOBUF PORT "io_sdram_DQ[8]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[9]" SITE "P16";
IOBUF PORT "io_sdram_DQ[9]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[10]" SITE "P15";
IOBUF PORT "io_sdram_DQ[10]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[11]" SITE "N16";
IOBUF PORT "io_sdram_DQ[11]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[12]" SITE "N14";
IOBUF PORT "io_sdram_DQ[12]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[13]" SITE "M16";
IOBUF PORT "io_sdram_DQ[13]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[14]" SITE "M15";
IOBUF PORT "io_sdram_DQ[14]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQ[15]" SITE "L15";
IOBUF PORT "io_sdram_DQ[15]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQM[0]" SITE "C16";
IOBUF PORT "io_sdram_DQM[0]" IO_TYPE=LVTTL33;
LOCATE COMP "io_sdram_DQM[1]" SITE "T15";
IOBUF PORT "io_sdram_DQM[1]" IO_TYPE=LVTTL33;
LOCATE COMP "io_uart_rxd" SITE "A9";
IOBUF PORT "io_uart_rxd" IO_TYPE=LVTTL33 PULLUP=1;
LOCATE COMP "io_uart_txd" SITE "B9";
IOBUF PORT "io_uart_txd" IO_TYPE=LVTTL33 PULLUP=1;
LOCATE COMP "io_axiClock" SITE "P6";
IOBUF PORT "io_axiCloxc" IO_TYPE=LVCMOS33;
FREQUENCY PORT "io_axiClock" 25000000.0 HZ;
